

.relative {
    position: relative;
}

.wide {
    width: 90%;
}

.spaceme {
    margin-bottom: 40px;
}

.center {
    text-align: center;
}

.submit {
    bottom: 5px;
    position: absolute;
    right: 15px;
    width: 100px;
}

#teemuTop {
    position: relative;
}

.title {
    text-transform: uppercase;
}

.speech-bubble {
    position: absolute;
    left: 350px;
    top: 90px;
    width: 400px;
    padding: 10px;
    margin: 3em;
    background-color:#FFF;
    color: #666;
    font: normal 12px "Segoe UI", Arial, Sans-serif;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 10px solid rgba(0,0,0,0.095);
}
.speech-bubble p {
    font-size: 1.25em;
}

.speech-bubble:after {
    content: "";
    position: absolute;
    top: 2px;
    left: -40px;
    border-style: solid;
    border-width: 30px 30px 30px 0;
    border-color: transparent rgba(0,0,0,0.095);;
    display: block;
    width: 0;
    z-index: 1;
}

