.bubble {
    margin-top: 10px;
    border: 1px solid black;
    position: absolute;
    right: 195px;
    top: 108px;
    border-radius: 13px;
}

.relative {
    position: relative;
}

.wide {
    width: 90%;
}

.spaceme {
    margin-bottom: 40px;
}

.center {
    text-align: center;
}

.submit {
    bottom: 5px;
    position: absolute;
    right: 15px;
    width: 100px;
}

#teemuTop {
    position: relative;
}

.title {
    text-transform: uppercase;
}